/* Combo page */

#combo {
    background-color: black;
    border-style: solid;
    border-color: red;
}

/* Home page */

#hp {
    border: 1px solid rgb(9, 252, 9);
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}

#foodpic{
    
    width: 200px;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Navbar */
  .navbar-logo {
    background: url(https://github.com/Jorgelopez5252/elmetatefoodmenu/blob/main/images/ElMetateLogosmalls.JPG?raw=true) no-repeat center center;
    background-size: cover;
    border-color: rgb(9, 252, 9);
    width:73px;
  }

  /* Fonts */
  p, h1 {
    font-family: 'Pattaya', sans-serif;
  }

  /* Index page polaroid images */
  /* div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  } */