/* Combo page */

#combo {
    background-color: black;
    border-style: solid;
    border-color: red;
}

/* Home page */

#hp {
    border: 1px solid rgb(9, 252, 9);
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}

#foodpic{
    
    width: 200px;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Navbar */
  .navbar-logo {
    /* background: url(https://github.com/Jorgelopez5252/elmetatefoodmenu/blob/main/images/ElMetateLogosmalls.JPG?raw=true) no-repeat center center; */
    /* background-size: cover; */
    width: 100
    
  }